body{
    background-color: rgb(83, 83, 168);
    color: rgb(229, 241, 53);
    font-family: arial, sans-serif;
}

header{
    background-color: #d10707;
    color:#000000;
    text-align: center;
    padding: 30px;
}

h1 {
font-size: 36px;
}

h2 {
    color: rgb(45, 241, 39);
}

p {
    font-size: 18px;
    line-height: 1.6;
}
